.mugshot {
  display: inline;
}
#offender-block {
  width: 87%;
  background-color: #f2f5fc;
}
.submission-block {
  margin-left: 10%;

}
.conviction-list {
  list-style-type: none;
}
.list-header {
  
}
.my-footer {
  
}
.primary-header {
  text-align: center;
  margin-bottom: 5%;
  margin-top: 4%;
  font-size: 34pt;;

}
.input-bar {
  width: 87%;

}
.page-body {
  background: whitesmoke;
}
